.container{
    position:relative;
    width: 90%;
    height: 90%;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.10);

    &__card{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 25px;

    }
}